.box1 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("https://images4.alphacoders.com/567/56776.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

