.row [class*='col-'] {
  text-align: center;
}

.row [class*='col-']:first-child {
  background-color: yellow;

}
.row [class*='col-']:nth-child(2) {
  background-color: yellowgreen;
}
.row [class*='col-']:nth-child(2n+3) {
  background-color: rgb(216, 202, 124);
}

.row [class*='col-']:nth-child(4) {
  background-color: palevioletred;
}

@media (max-width: 767px) {
  .row [class*='col-'] {
    height: 100px;
  }
}

@media (min-width: 768px) {
  .row [class*='col-md-6']  {
    height: 250px;
  }

  .row [class*='col-md-4'] {
    height: 150px;
  }
}