* {
  margin: 0;
  padding: 0;
}

.menu {
  background: linear-gradient(to top right, #778899, #ffa07a);
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.site-nav {
  list-style: none;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #5b0da5;
}

.nav-item:hover,
.nav-item:focus {
  color: rgb(121, 36, 36);
  background: radial-gradient(#ffa07a, #778899);
}

.nav-item {
  float: right;
  padding: 38px;
}